<div class="container d-flex justify-content-center">
  <div class="card w-50">
    <div class="card-header">
      Items List
    </div>
    @if(this.role==='admin') {
    <div class="row p-3">
      <div class="col-8"></div>
      <div class="col-4 d-grid gap-2">
        <button type="button" class="btn btn-primary" (click)="addItem()">
          + Add Item
        </button>
      </div>
    </div>
    }
    <div class="card-body">
      <div class="row">
        <div class="table-responsive">
          <table class="table border rounded text-nowrap">
            @if(Items.length) {
            <thead>
              <tr class="border-none">
                <th>Name</th>
                <th>Description</th>
                @if(this.role==='admin') {

                <th>Actions</th>
                }
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of Items;let i=index;">
                <tr>
                  <td class="cursor-pointer">
                    <span class="text-primary">
                      {{item?.name}}
                    </span>
                  </td>
                  <td class="cursor-pointer">
                    <span class="text-primary">
                      {{item?.description || '--'}}
                    </span>
                  </td>
                  @if(this.role==='admin') {

                  <td class="cursor-pointer">
                    <div class="d-flex flex-row">
                      <div class="mx-2" (click)="updateItem(item)">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20"
                          viewBox="0 0 24 24">
                          <path d="M14.1 5.9L3 17v4h4L18.1 9.9 14.1 5.9zM15.6 4.4L18 2l4 4-2.4 2.4L15.6 4.4z"></path>
                        </svg>
                      </div>
                      <div class="mx-2" (click)="deleteItem(item)">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20"
                          viewBox="0 0 30 30">
                          <path
                            d="M 14.984375 2.4863281 A 1.0001 1.0001 0 0 0 14 3.5 L 14 4 L 8.5 4 A 1.0001 1.0001 0 0 0 7.4863281 5 L 6 5 A 1.0001 1.0001 0 1 0 6 7 L 24 7 A 1.0001 1.0001 0 1 0 24 5 L 22.513672 5 A 1.0001 1.0001 0 0 0 21.5 4 L 16 4 L 16 3.5 A 1.0001 1.0001 0 0 0 14.984375 2.4863281 z M 6 9 L 7.7929688 24.234375 C 7.9109687 25.241375 8.7633438 26 9.7773438 26 L 20.222656 26 C 21.236656 26 22.088031 25.241375 22.207031 24.234375 L 24 9 L 6 9 z">
                          </path>
                        </svg>
                      </div>
                    </div>
                  </td>
                  }
                </tr>
              </ng-container>
            </tbody>
            } @else {
            <div class="d-flex justify-content-center align-items-center h-100">
              NO DATA FOUND
            </div>
            }
          </table>
        </div>
        @if(Items.length) {
        <div class="col-12 text-center ps-0">
          <ul>
            <li
              *ngFor="let item of Items | paginate: { itemsPerPage: tableRequest.limit, currentPage: tableRequest.page, totalItems: totalItems }">
            </li>
          </ul>
          <pagination-controls (pageChange)="onPageChange($event); tableRequest.page = $event;" [directionLinks]="false"
            [maxSize]="5" [responsive]="true">
          </pagination-controls>
        </div>
        }
      </div>
    </div>
  </div>
</div>